body {
    font-size: 14px;
    font-family: arial,sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

li { 
    float:left;
}

.li-right {
    float: right;
}

a {
    display: block;
    padding: 10px;
    color: #222;
}


.logo-container, .search-container {
    display:flex;
    justify-content: center;
}

.search-input {
    border-radius: 25px;
    border: 1px solid #a09f9f36;
    outline: none;
    margin: 20px;
    width: 500px;
    height: 50px;
    font-size: 18px;
    padding: 15x;
    background-image: url('/images/search_icon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding-left: 40px;
}

.search-input:hover {
    box-shadow: 2px 2px 2px 1px #dedede;
}

.search-input:focus {
    box-shadow: 2px 2px 2px 2px #dedede;
}

.button-container {
    display:flex;
    justify-content: center;
}

button {
    padding: 12px;
    margin: 8px;
    border: none; 
    border-radius: 4px;
}

button:hover {
    box-shadow: 0 1px 1px 1px #dedede;
}

button:focus {
    outline: 1px solid blue;
    border-radius: 4px;
}

.footer-container {
    background-color: #f2f2f2;
}